<!DOCTYPE html>
<head>
    <title>Data</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body bgcolor = 'white'>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Location</th>
                <th>Rescued</th>
            </tr>
        </thead>
        <tbody>
            {% for victim in victims %}
            <tr>
                <td>{{ victim.phone_number }}</td>
                <td>{{ victim.location }}</td>
                <td><input type="checkbox" name="rescued" id="rescued" {% if victim.rescued %}checked{% endif %}></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        var checkbox = el.getElementsByTagName('input');

        // assign function to onclick property of each checkbox
        for (var i=0, len=checkbox.length; i<len; i++) {
            if ( checkbox[i].type === 'checkbox' ) {
                checkbox[i].onclick = function(e) {
                    if(e.target)
                }
            }
        }
    </script>
</body>
</html>