<!DOCTYPE html>
<html>
<title>Home page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>
<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4>ALPHA CUBE</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">BRAHMASTRA</h1>
  </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:350px">
  <h3>  Post an Update </h3><br>
  <a href="/form/"><button type="button" class="btn btn-primary btn-lg"> POST </button></a>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:350px">
  <h3>Show Locations of Victims</h3><br>
  <a href="/map/"><button type="button" class="btn btn-primary btn-lg"> Show Map </button></a>
  <h3>Show Victims Data</h3><br>
  <a href="/display/"><button type="button" class="btn btn-primary btn-lg"> Show Victims Data </button></a>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:350px">
  <h3>How it works </h3><br>
  <a href="/about/"><button type="button" class="btn btn-primary btn-lg"> Info </button></a>
  </div>
</div>
</div>
</body>
</html>
